{% extends 'base.html' %}
{% block content %}

<h1>bilingüe</h1>
<div class="about">
    <p>bilingüe is here to help you keep up with your Spanish language skills.</p>
    <p>Keep a vocabulary list <a href="#">here</a>. Find Spanish speakers to follow on twitter <a href="#">here</a>. Find Spanish language movies and tv shows <a href="#">here</a>.</p>
    <p>Everything here at bilingüe is to help you continue to learn and grow your skills. Coming soon: chat with others in our in app messanger and play Spanish language music on Spotify.</p>
</div>

{% endblock %}