{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Hola! Bienvenido a bilingüe</h1>
<div id="front-flex">
    <a href="{% url 'word_create' %}" class="add eng">Add Word</a>
    <a href="{% url 'palabra_create' %}" class="add span">Poner palabra en español</a>
    <a href="{% url 'chistes_create' %}" class="add eng">Poner un Chiste</a>
    <a href="{% url 'media_create' %}" class="add span">Poner Media</a>
    <div id="todo-flex">
        <h4>Today, did you: </h4>
        <form action="" method="POST"></form>
    </div>
    <p>{{user.id}}</p>
    <a href="{% url 'user_detail' user.id %}" class="add span">User Home</a>
</div>


    

{% endblock %}