{% extends 'base.html' %}
{% block content %}

{% for media in medias %}
<div class="media-card">
  {% if media.picture %}  
    <img src="{{media.picture}}" alt="Avatar">
  {% else %}
    <img src="https://picsum.photos/200" alt="Random picture">
  {% endif %}
    <div class="container">
      <h4><b>{{media.name}}</b></h4>
    {% if media.year %}
      <p>{{media.year}}</p>
      {% endif %}
      <p>{{media.get_media_type_display}}</p>
      <a href="{% url 'media_update' media.id %}" class="btn edit-btn">Edit</a>
      <a href="{% url 'media_delete' media.id %}" class="btn del-btn">Delete</a>
    </div>
  </div>
{% endfor %}
 
{% endblock %}