{% extends 'base.html' %}
{% block content %}

{% for word in words %}
<div class="card">
    <div class="card-inner">
        <div class="card-front eng">
            <h4>English: {{ word.english }}</h4>
        </div>
        <div class="card-back span">
            <h4>English: {{ word.english }}</h4>
            <h4>Spanish: {{ word.spanish }}</h4>
          {% if word.cognates %}  
            <p>Cognates: {{ word.cognates }}</p>
          {% endif %}
          {% if word.antonyms %}
            <p>Antonyms: {{ word.antonyms }}</p>
          {% endif %}
          <a href="{% url 'words_update' word.id %}" class="btn span">Edit</a>
        </div>
    </div>
</div>
{% endfor %}

{% for palabra in palabras %}
<div class="card">
    <div class="card-inner">
        <div class="card-front span">
            <h4>Español: {{ palabra.español }}</h4>
        </div>
        <div class="card-back eng">
            <h4>Español: {{ palabra.español }}</h4>
            <h4>Inglés: {{ palabra.inglés }}</h4>
          {% if palabra.cognadas %}  
            <p>Cognadas: {{ palabra.cognadas }}</p>
          {% endif %}
          {% if palabra.antónimos %}
            <p>Antónimos: {{ palabra.antónimos }}</p>
          {% endif %}
          <a href="{% url 'palabras_update' palabra.id %}" class="btn eng">Edit</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}