{% extends 'base.html' %}
{% block content %}


{% for word in words %}
<div class="card">
    <div class="card-inner">
        <div class="card-front eng">
            <h4>English: {{ word.english|safe }}</h4>
        </div>
        <div class="card-back span">
            <h4>Spanish: {{ word.spanish|safe }}</h4>
            <p>Cognates: {{ word.cognates|safe }}</p>
            <p>Antonyms: {{ word.antonyms|safe }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% for palabra in palabras %}
<div class="card">
    <div class="card-inner">
        <div class="card-front span">
            <h4>Español: {{ palabra.español|safe }}</h4>
        </div>
        <div class="card-back eng">
            <h4>Inglés: {{ palabra.inglés|safe }}</h4>
            <p>Cognadas: {{ palabra.cognadas|safe }}</p>
            <p>Antónimos: {{ palabra.antónimos|safe }}</p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}